.logo__img {
  width: 140px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 1px 0px 24px 10px rgba(119, 160, 118, 0.15);
}

.custom_navbar {
  background: #200122;
  background: -webkit-linear-gradient(
    to bottom,
    #6f0000,
    #200122
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6f0000, #200122);
  box-shadow: 0px -12px 30px 18px rgba(209, 200, 200, 0.7);
  border-bottom: 1px solid rgb(94, 56, 56);
  border-bottom: 1px solid wheat;
  padding: -24px;
}
